{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editor</title>
    <link rel="stylesheet" href="{% static 'editor.css' %}">
    <script src="https://kit.fontawesome.com/5f29df2af7.js" crossorigin="anonymous"></script>
</head>

<body class="font-mono">
    <div class="container">
        <div class="left">
            <label for="html"><i class="fa-brands fa-html5"></i> HTML</label>
            <textarea name="html" id="html">{{ html_code }}</textarea>

            <label for="css"><i class="fa-brands fa-css3-alt"></i> CSS</label>
            <textarea name="css" id="css">{{ css_code }}</textarea>

            <label for="js"><i class="fa-brands fa-js"></i> JS</label>
            <textarea name="js" id="js">{{ js_code }}</textarea>
        </div>

        <div class="right">
            <label for="output"><i class="fa-brands fa-js"></i> Output</label>
            <iframe id="output" title="Output"></iframe>
        </div>
    </div>

    <script>
        function run() {
            let htmlCode = document.getElementById('html').value;
            let cssCode = document.getElementById('css').value;
            let jsCode = document.getElementById('js').value;
            let output = document.getElementById('output');
            output.contentDocument.body.innerHTML = htmlCode + "<style>" + cssCode + "</style>";
            output.contentWindow.eval(jsCode);
        }
        
        window.onload = function () {
            run();
        };

        const projectCode = '{{ project_code }}';
        console.log(projectCode);
        
        const wsStart = 'ws://';
        let endPoint = wsStart + window.location.host + '/ws/editor/' + projectCode + '/';
        let socket = new WebSocket(endPoint);

        socket.onopen = function (e) {
            console.log('Connection established!');
        };

        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.html_code !== undefined) {
                document.getElementById('html').value = data.html_code;
            }
            if (data.css_code !== undefined) {
                document.getElementById('css').value = data.css_code;
            }
            if (data.js_code !== undefined) {
                document.getElementById('js').value = data.js_code;
            }
            run();
        };

        socket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        function debounce(func, timeout = 100) {
            let timer;
            return (...args) => {
                clearTimeout(timer);
                timer = setTimeout(() => { func.apply(this, args); }, timeout);
            };
        }

        function saveCode() {
            let htmlCode = document.getElementById('html').value;
            let cssCode = document.getElementById('css').value;
            let jsCode = document.getElementById('js').value;

            socket.send(JSON.stringify({
                'html_code': htmlCode,
                'css_code': cssCode,
                'js_code': jsCode,
            }));
        }

        const debouncedSave = debounce(() => saveCode());

        document.getElementById('html').addEventListener('keyup', debouncedSave);
        document.getElementById('css').addEventListener('keyup', debouncedSave);
        document.getElementById('js').addEventListener('keyup', debouncedSave);
    </script>
</body>

</html>
