{% extends 'main/base.html'%}

{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}

{% block content %}



<form method="post">
{% csrf_token %}{{form|crispy}}
<p>Don't have an account? Create one <a href="/sign-up">Here</a></p>
<button type="submit" class="btn btn-success">Login</button>
</form>
<style>
   

    form{
        background-color: white;
        width: 600px;
        padding: 20px;
        margin:  200px auto;
        border-radius: 20px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
</style>

{% endblock %}